@model Mvc.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.Rolename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Rolename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastLoginDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
