
@model IEnumerable<Mvc.Models.User>

@using Mvc.Helpers;

@{
    ViewBag.Title = "Users";

}
<div class="col-md-8">
    <div class="panel panel-default">
        <h3 class="panel-title">List of Users</h3>
       
        <div class="panel-body">
            <div role="grid" id="example_wrapper" class="dataTables_wrapper form-inline no-footer">
            </div>

            <table id="example" class="table table-striped table-bordered dataTable no-footer" cellspacing="10" aria-describedby="example_info" style="width:100%;">
                <thead>
                   
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserUsername)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserEmail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserRegisterDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserLastLoginDate)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                         <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserUsername)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserRegisterDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserLastLoginDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
                                    @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
                                </td>
                   </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    
</div>