@model IEnumerable<Mvc.Models.Medium>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaAlt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaType.MediaTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MediaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaAlt)
        </td>
        <td>
           <img src="@Html.DisplayFor(modelItem => item.MediaUrl)" width="70"/>
            @Html.DisplayFor(modelItem => item.MediaUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaType.MediaTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaID })
        </td>
    </tr>
}

</table>
