@model Mvc.Models.Adress

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdressCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdressActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdressActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CustomerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliverableCountry.DeliverableCountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliverableCountry.DeliverableCountryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
